@import "tailwindcss";

@import "./ogar-ui.css";

@utility ogar-ring-* {
    --tw-ring-color: var(--color-focus);
    --tw-ring-offset-color: --value(--color-*);
    @apply ring-2 ring-offset-2 outline-none rounded-xl;
}
