@import "tailwindcss";

@layer base {
    html,
    body,
    :root {
        height: 100%;

        font-family: system-ui, var(--font-sans);
        font-weight: 400;
    }

    :root {
        --background: oklch(0.970 0.000 0);
        --foreground: oklch(0.178 0.000 0);
        --surface: oklch(1.000 0.000 0);
        --muted: oklch(0.562 0.000 0);

        --focus: oklch(78.9% 0.154 211.53);
    }
    
    @media (prefers-color-scheme: dark) {
        :root {
            --background: oklch(0.235 0.000 0);
            --foreground: oklch(1.000 0.000 0);
            --surface: oklch(0.213 0.000 0);
            --muted: oklch(0.689 0.000 0);
        }
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-surface: var(--surface);
    --color-muted: var(--muted);

    --color-focus: var(--focus);
}

@utility ogar-ring-* {
    --tw-ring-color: var(--color-focus);
    --tw-ring-offset-color: --value(--color-*);
    @apply ring-2 ring-offset-2 outline-none rounded-xl;
}

.debug {
    outline: 1px solid red;
}

.debug > * {
    outline: 1px solid green;
}