@layer base {
    html,
    body,
    :root {
        height: 100%;

        font-family: system-ui, var(--font-sans);
        font-weight: 400;
    }
    
    :root {
        --background: oklch(0.970 0.000 0);
        --foreground: oklch(0.178 0.000 0);
        --surface: oklch(1.000 0.000 0);

        --muted: oklch(0.970 0.000 0);
        --muted-foreground: oklch(0.689 0.000 0);
        --primary: oklch(0.213 0.000 0);
        --primary-foreground: oklch(1.000 0.000 0);

        --secondary: oklch(1.000 0.000 0);
        --secondary-foreground: oklch(0.178 0.000 0);

        --tertiary: oklch(0.970 0.000 0);
        --tertiary-foreground: oklch(0.178 0.000 0);

        --focus: oklch(0.789 0.154 211.53);
    }

    @media (prefers-color-scheme: dark) {
        :root, .dark, [data-theme="dark"] {
            --background: oklch(0.235 0.000 0);
            --foreground: oklch(1.000 0.000 0);
            --surface: oklch(0.213 0.000 0);

            --muted: oklch(0.252 0.000 0);
            --muted-foreground: oklch(0.375 0.000 0);

            --primary: oklch(1.000 0.000 0);
            --primary-foreground: oklch(0.213 0.000 0);

            --secondary: oklch(0.213 0.000 0);
            --secondary-foreground: oklch(1.000 0.000 0);

            --tertiary: oklch(0.252 0.000 0);
            --tertiary-foreground: oklch(1.000 0.000 0);
        }
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-surface: var(--surface);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);
    
    --color-focus: var(--focus);
}

.debug {
    outline: 1px solid red;
}

.debug > * {
    outline: 1px solid green;
}