@layer base {
    :root {
        color-scheme: light dark;

        font-family: system-ui, var(--font-sans);
        font-weight: 400;

        /* Base Colors */
        --natural-white: 0.98 0.001 17.176;
        --royal-white: 0.997 0 0;

        --eerie-black: 0.218 0 0;
        --charcoal-gray: 0.178 0 0;

        --sky-blue: 0.746 0.16 232.661;
        --shiny-green: 0.736 0.186 140;
        --red-sun: 0.665 0.174 28.794;
        --vibrant-gold: 0.881 0.176 93.53;

        /* OgarUI Theme */
        --background: light-dark(
            oklch(var(--natural-white)),
            oklch(var(--eerie-black))
        );
        --foreground: light-dark(
            oklch(var(--charcoal-gray)),
            oklch(var(--royal-white))
        );
        --surface: light-dark(
            oklch(var(--royal-white)),
            oklch(var(--charcoal-gray))
        );

        --primary: light-dark(
            oklch(var(--charcoal-gray)),
            oklch(var(--royal-white))
        );
        --primary-foreground: light-dark(
            oklch(var(--royal-white)),
            oklch(var(--charcoal-gray))
        );

        --secondary: light-dark(
            oklch(var(--charcoal-gray) / 0.05),
            oklch(var(--royal-white) / 0.1)
        );
        --secondary-foreground: light-dark(
            oklch(var(--charcoal-gray) / 0.8),
            oklch(var(--royal-white) / 0.8)
        );

        --muted: light-dark(
            oklch(var(--charcoal-gray) / 0.05),
            oklch(var(--royal-white) / 0.1)
        );
        --muted-foreground: color-mix(
            in oklab,
            var(--surface) 60%,
            var(--foreground) 40%
        );

        --brand: oklch(var(--sky-blue));
        --brand-foreground: oklch(var(--royal-white));

        --success: oklch(var(--shiny-green));
        --success-foreground: oklch(var(--royal-white));

        --danger: oklch(var(--red-sun));
        --danger-foreground: oklch(var(--royal-white));

        --warning: oklch(var(--vibrant-gold));
        --warning-foreground: oklch(var(--charcoal-gray));

        --focus: oklch(var(--sky-blue));
        --border: color-mix(in oklab, var(--foreground) 10%, transparent);

        --ai-gradient:
            to left, oklch(0.64 0.19 244) 0%, oklch(0.63 0.15 275) 34%,
            oklch(0.62 0.23 20) 68%, oklch(0.75 0.19 70) 100%;
    }

    .light,
    [data-theme="light"] {
        color-scheme: light;
    }

    .dark,
    [data-theme="dark"] {
        color-scheme: dark;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-surface: var(--surface);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: color-mix(
        in oklab,
        var(--color-primary) 90%,
        var(--color-primary-foreground) 10%
    );

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-hover: color-mix(
        in oklab,
        var(--color-secondary) 96%,
        var(--color-secondary-foreground) 4%
    );

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted-hover: color-mix(
        in oklab,
        var(--color-muted) 40%,
        var(--color-foreground) 60%
    );

    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
    --color-brand-hover: color-mix(
        in oklab,
        var(--color-brand) 90%,
        var(--color-brand-foreground) 10%
    );

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-success-hover: color-mix(
        in oklab,
        var(--color-success) 90%,
        var(--color-success-foreground) 10%
    );

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-warning-hover: color-mix(
        in oklab,
        var(--color-warning) 90%,
        var(--color-warning-foreground) 10%
    );

    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);
    --color-danger-hover: color-mix(
        in oklab,
        var(--color-danger) 90%,
        var(--color-danger-foreground) 10%
    );

    --color-border: var(--border);

    --color-focus: var(--focus);

    /* Custom animations */

    @keyframes wave {
        33% {
            opacity: 1;
        }
        66% {
            opacity: 0.15;
        }
    }
}

.debug {
    outline: 1px solid red;
}

.debug > * {
    outline: 1px solid green;
}
