---
import Card from "@/components/home/card.astro";
import Links from "@/components/home/links.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout>
    <div class="flex flex-col gap-6 max-w-170">
        <Card />
        <Links />
    </div>
</MainLayout>
