---

---

<style>
    .card-grid {
        display: grid;
        grid-template-areas: 'avatar title' 'avatar content';
    }

    @media (max-width: 640px) {
        .card-grid {
            grid-template-areas: 'avatar title' 'content content';
            grid-template-columns: auto 1fr;
        }
    }
</style>

<section class="card-grid gap-2 sm:gap-4 max-w-160">
    <div
        class="h-20 sm:h-full aspect-square rounded-2xl bg-sky-200 sm:mr-2"
        style="grid-area: avatar"
    >
    </div>
    <div style="grid-area: title">
        <h1 class="text-2xl font-semibold">Michał Mackowiak</h1>
        <div class="flex gap-4">
            <p>@chemipil</p>
            <p class="flex items-center gap-1">
                <img src="/poland.svg" alt="Poland" class="w-4" /> Poznań, Poland
            </p>
        </div>
    </div>
    <p style="grid-area: content">
        Web developer building yet another button component, wannabe landscape
        photographer still figuring out what the camera buttons do, traveler
        trying to see the world. Powered by good coffee and late-night gaming.
    </p>
</section>
