---

---

<style>
    .card-grid {
        display: grid;
        grid-template-areas: 'avatar title' 'avatar content';
    }

    @media (max-width: 640px) {
        .card-grid {
            grid-template-areas: 'avatar title' 'content content';
            grid-template-columns: auto 1fr;
        }
    }
</style>

<section class="debug card-grid gap-2 sm:gap-6 max-w-160">
    <div class="size-40 rounded-2xl bg-sky-200" style="grid-area: avatar"></div>
    <div style="grid-area: title">
        <h1>Michał Mackowiak</h1>
        <p>@chemipil Poznań, Poland</p>
    </div>
    <p style="grid-area: content">
        Web developer building yet another button component, wannabe landscape
        photographer still figuring out what the camera buttons do, traveler
        trying to see the world. Powered by good coffee and late-night gaming.
    </p>
</section>
